/* pie de la pagina */
footer {
  /* posicion */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* fondo, color de texto y su posicion */
  background-color: #333;
  color: white;
  text-align: center;
}
/* div de titulos para el centro */
#titulos {
  position: absolute;
  left: 300px;
  top: 200px;
  float: left;
}
/* id de mi imagen en el body para el fondo*/
#imagen{
  position: fixed;
  width: 100vw;
  height: 100vh; 
}
/* body para rellenar toda la pagina sin margenes */
body{
  margin: 0;
  padding: 0;
  border: 0;
}
