<!DOCTYPE html>
{% load static %}

<html>
  <head>
    {% block titulohead %}<!--Bloqueo para el titulo de la pagina para poder editarlo en cualquier pagina-->
    <title>Titulo</title>
    {% endblock %}<!-- Fin del bloqueo titulohead-->
    <!--Links de archivos statics css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/Base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/LR.css' %}">
    
  </head>
  <!--CONTENIDO DE LA PAGINA A PARTIR DE ACA -->
  <body>
    <img id="imagen" src="{% static 'media/Pleiades.jpg' %}" alt="My Image">
    <div id="titulos">
      {% block titulo %}
      {% endblock %}
    </div>

      {% block centro %}<!-- Bloqueo para agregar todo lo que esta entre la barra superior y el copyright-->
      {% endblock %}<!-- fin de bloqueo del centro -->


    <footer><!--contenido dentro de la barra oscura de la pagina su edicion esta en css con forter-->
      <p>Copyright rodrigomedina</p>
    </footer>
  </body>

</html>
