{% extends "base_blog.html" %}

{% block side %}
<a href={% url 'editarPerfil' %}>
    <button>Editar Perfil</button>
</a>
  <br>
  <a href={% url 'fotoPerfil' %}>
    <button>agregar Avatar</button>
</a>
  <br>
  <a href={% url 'crear' %}>
    <button>crear</button>
</a>
  <br>
  <a href={% url 'buscar' %}>
    <button>buscar</button>
</a>
<br>
<a href={% url 'chat' %}>
  <button>chat</button>
</a>
<br>
<a href={% url 'mensajes' %}>
  <button>mensajes</button>
</a>



{% endblock %}


{% block nav %}
<a href={% url 'salir' %}>
    <button>Salir</button>
  </a>
  <form action="{% url 'buscar' %}" method="GET"> 

    <input type="text" name="titulo" id="titulo">

    <input type="submit" value="buscar ">

</form>
{% endblock %}


{% block centro %}
<br>
{{ mensaje }}
<br>
<img height="200px" src="{{ imagen }}" alt="">

<br>

{% endblock %}


