{% extends "base_blog.html" %}

{% block side %}
<a href={% url 'salir' %}>
    <button>Salir</button>
</a>
  <br>
<a href={% url 'blog' %}>
    <button>inico</button>
</a>
  <br>
{% endblock %}


{% block centro %}
<form action="{% url 'editarPerfil'  %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

    <table>
    
        {{ form.as_table }}
        {{ formulario.as_table }}
    
    </table>
    
    <input type="submit" value="MODIFICAR USUARIO">
    
    
    </form>

<h1> {{ mensaje }} </h1>



{% endblock %}